<div class="absolute z-10 w-full h-full pointer-events-none">
  <div class="container mx-auto ">
    <div class="flex gap-2 pointer-events-auto">
      <button (click)="name.set('example')">Example</button> 
      <button (click)="name.set('snow')">Snow</button> 
      <button (click)="name.set('dots')">Dots</button> 
      
      - 

      <button (click)="background()?.resume()">Play</button> 
      <button (click)="background()?.pause()">Pause</button>

      <button (click)="toggleRendering()">
        @if(strategy()?.type === 0) {
          WebGL
        }
        @else {
          WebGPU
        }
      </button>

      <button (click)="toggleWebworker()">
        @if(strategy()?.offscreenRendering) {
          Off screen
        }
        @else {
          Normal
        }
      </button>
    </div>
  </div>  
</div>

<app-background (renderingStrategyChange)="strategy.set($event)"></app-background>